// **
// imports
// **

@mixin retina-background($width, $height, $image) {
  width: $width;
  height: $height;
  background-image: url($image);
  background-size: $width $height;
  background-repeat: no-repeat;
  background-position: 50%;
}

@mixin alpha-background($url, $opacity, $bg-color) {
  position: relative;
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: $opacity;
    background-color: $bg-color;
  }
}
